#container{
    display: grid;
}

#navBar{
    background-color: #282828;
}

p{
    display: inline-block;
}

#mainImg{
    background-color: aqua;
    height: 500px;
    width: auto;
}

h3{
    margin-left: auto;
    margin-right: auto;
}